<div class="full-centered" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!loading">
  <title mat-dialog-title>Ofertas.</title>
  <p>
    Esta tabla muestra las ofertas cargadas, permite editarlas o eliminarlas.
  </p>
  <p *ngIf="ofertas.length == 0">No hay ofertas agregadas.</p>
  <table
    mat-table
    [dataSource]="dataSourceOfertas"
    class="mat-elevation-z8"
    style="margin-top: 20px; margin-bottom: 20px; width: 100%"
    *ngIf="ofertas.length > 0"
  >
    <ng-container matColumnDef="oferta">
      <th mat-header-cell *matHeaderCellDef>Oferta</th>
      <td mat-cell *matCellDef="let element">{{ element.oferta }}</td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef></th>
      <td
        mat-cell
        *matCellDef="let element; let i = index"
        style="text-align: right"
      >
        <button mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="warn">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsOfertas"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsOfertas"></tr>
  </table>
  <button mat-raised-button mat-dialog-close color="primary">Aceptar</button>
</div>
