<div
  class="scrollable-div"
  [class.handset-padding]="isHandset$ | async"
  [class.desktop-padding]="!(isHandset$ | async)"
>
  <div class="card-div">
    <mat-card>
      <mat-card-title>Nueva entrega.</mat-card-title>
      <mat-card-content>
        <button class="action-button">
          <img
            class="action-icon"
            src="../../../../assets/add_circle_outline_black_24dp.svg"
            alt=""
          />
        </button>
        <p>
          Entrega un nuevo dispositivo a un alumno ya cargado.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Nueva verificación.</mat-card-title>
      <mat-card-content>
        <button class="action-button">
            <img
            class="action-icon"
            src="../../../../assets/add_circle_outline_black_24dp.svg"
            alt=""
          />
        </button>
        <p>Actualiza el estado de la verificación de un dispositivo dado.</p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Nuevo reclamo.</mat-card-title>
      <mat-card-content>
        <a class="action-button" routerLink="nuevo">
          <img
            class="action-icon"
            src="../../../../assets/add_circle_outline_black_24dp.svg"
            alt=""
          />
        </a>
        <p>
          Genera un reclamo sobre un dispositivo ya entregado.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
