<div
  class="scrollable-div"
  [class.handset-padding]="isHandset$ | async"
  [class.desktop-padding]="!(isHandset$ | async)"
>
  <div class="card-div">
    <mat-card>
      <mat-card-title>Nueva entrega.</mat-card-title>
      <mat-card-content>
        <button class="action-button">
          <svg-img
            src="assets/handshake_black_24dp.svg"
            fillColor="#fd7e14"
          ></svg-img>
        </button>
        <p>Entrega un nuevo dispositivo a un alumno ya cargado.</p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Nueva verificación.</mat-card-title>
      <mat-card-content>
        <button class="action-button">
          <svg-img
            src="assets/build_circle_black_24dp.svg"
            fillColor="#6f42c1"
          ></svg-img>
        </button>
        <p>Actualiza el estado de la verificación de un dispositivo dado.</p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Nuevo reclamo.</mat-card-title>
      <mat-card-content>
        <a class="action-button" routerLink="nuevo">
          <svg-img
            src="assets/error_outline_black_24dp.svg"
            fillColor="#dc3545"
          ></svg-img>
        </a>
        <p>Genera un reclamo sobre un dispositivo ya entregado.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
