<div class="scrollable-div"  [class.handset-padding]="isHandset$ | async" [class.desktop-padding]="!(isHandset$ | async)">
  <div class="card-div">
    <mat-card>
      <mat-card-title>Establecimientos.</mat-card-title>
      <mat-card-subtitle>Nuevo establecimiento</mat-card-subtitle>
      <mat-card-content>
        <a class="action-button" routerLink="nuevo">
          <img
            class="action-icon"
            src="../../../../assets/add_circle_outline_black_24dp.svg"
            alt=""
          />
        </a>
        <p>
          Crea un nuevo establecimiento al cual se le podran asignar comodantes,
          entregas, responsables, directivos, etc.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Establecimientos.</mat-card-title>
      <mat-card-subtitle>Ver establecimientos</mat-card-subtitle>
      <mat-card-content>
        <a class="action-button">
          <img
            class="action-icon"
            src="../../../../assets/format_list_bulleted_black_24dp.svg"
            alt=""
          />
        </a>
        <p>Muestra los establecimientos existentes en el sistema.</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="card-div">
    <mat-card>
      <mat-card-title>Zonas.</mat-card-title>
      <mat-card-subtitle>Nueva zona</mat-card-subtitle>
      <mat-card-content>
        <button class="action-button" (click)="nuevaZona()">
          <img
            class="action-icon"
            src="../../../../assets/add_circle_outline_black_24dp.svg"
            alt=""
          />
        </button>
        <p>
          Crea una nueva zona a la que podran pertenecer los establecimientos.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Zonas.</mat-card-title>
      <mat-card-subtitle>Muestra las zonas ya cargadas.</mat-card-subtitle>
      <mat-card-content>
        <a class="action-button">
          <img
            class="action-icon"
            src="../../../../assets/format_list_bulleted_black_24dp.svg"
            alt=""
          />
        </a>
        <p>Crea un nuevo establecimiento en el sistema.</p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Ofertas.</mat-card-title>
      <mat-card-subtitle>Nueva oferta.</mat-card-subtitle>
      <mat-card-content>
        <button class="action-button" (click)="nuevaOferta()">
          <img
            class="action-icon"
            src="../../../../assets/add_circle_outline_black_24dp.svg"
            alt=""
          />
        </button>
        <p>Crea una nueva oferta que los establecimientos podran ofrecer.</p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Ofertas.</mat-card-title>
      <mat-card-subtitle>Muestra las ofertas ya cargadas.</mat-card-subtitle>
      <mat-card-content>
        <a class="action-button">
          <img
            class="action-icon"
            src="../../../../assets/format_list_bulleted_black_24dp.svg"
            alt=""
          />
        </a>
        <p>
          Muestra una lista con las ofertas que los establecimientos pueden
          ofrecer.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
