<div class="scrollable-div" [class.handset-padding]="isHandset$ | async"
  [class.desktop-padding]="!(isHandset$ | async)">
  <div class="card-div">
    <mat-card class="hoverable">
      <mat-card-title>Alumnos.</mat-card-title>
      <mat-card-subtitle>Muestra alumnos ya existentes.</mat-card-subtitle>
      <mat-card-content>
        <button class="action-button">
          <svg-img src="assets/format_list_bulleted_black_24dp.svg" fillColor="#28a74580"></svg-img>
        </button>
        <p>Muestra los alumnos quienes ya han participado en una entrega.</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="hoverable">
      <mat-card-title>Responsables.</mat-card-title>
      <mat-card-subtitle>Ver responsables.</mat-card-subtitle>
      <mat-card-content>
        <a class="action-button" routerLink="ver">
          <svg-img src="assets/format_list_bulleted_black_24dp.svg" fillColor="#e83e8c80"></svg-img>
        </a>
        <p>Muestra los responsables ya cargados en el sistema.</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="hoverable">
      <mat-card-title>Directivos.</mat-card-title>
      <mat-card-subtitle>
        Muestra una lista con los directivos.
      </mat-card-subtitle>
      <mat-card-content>
        <button class="action-button">
          <svg-img src="assets/format_list_bulleted_black_24dp.svg" fillColor="#fd7e1480"></svg-img>
        </button>
        <p>
          Muestra los directivos de establecimiento ya presentes en el
          sistema.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>