<form class="scrollable-div" [class.handset-padding]="isHandset$ | async"
  [class.desktop-padding]="!(isHandset$ | async)" [formGroup]="editarEstablecimientoForm">
  <mat-card [class.card-80]="!(isHandset$ | async)" [class.card-100]="isHandset$ | async">
    <mat-progress-bar mode="indeterminate" style="margin-bottom: 15px;" *ngIf="loading()"></mat-progress-bar>
    <mat-card-subtitle>Editar establecimiento.</mat-card-subtitle>
    <mat-card-title>Establecimientos</mat-card-title>
    <mat-card-content>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>CUE</mat-label>
          <input autocomplete="off" matInput placeholder="xxxxxxxxxxx" formControlName="cue" />
          <mat-hint>Ingrese el CUE del establecimiento.</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input autocomplete="off" matInput placeholder="Nombre" formControlName="nombre" />
          <mat-hint>Ingrese el nombre del establecimiento.</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Matrícula</mat-label>
          <input autocomplete="off" matInput placeholder="1234..." type="number" formControlName="matricula" />
          <mat-hint>Ingrese la matrícula del establecimiento.</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input autocomplete="off" matInput placeholder="mail@establecimiento.com" type="email"
            formControlName="mail" />
          <mat-hint>Ingrese la direccion de email del establecimiento.</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Turnos</mat-label>
          <mat-select multiple formControlName="turnos">
            <mat-option *ngFor="let turno of turnos" [value]="turno.turnoID">{{turno.turno}}</mat-option>
          </mat-select>
          <mat-hint>Seleccione los turnos que posee el establecimiento.</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Horario</mat-label>
          <input autocomplete="off" matInput type="time" formControlName="horario_desde" />
          <mat-hint>Desde...</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input autocomplete="off" matInput type="time" formControlName="horario_hasta" />
          <mat-hint>Hasta...</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Sector</mat-label>
          <mat-select formControlName="sectorID">
            <mat-option *ngFor="let sector of sectores" [value]="sector.sectorID">{{sector.sector}}</mat-option>
          </mat-select>
          <mat-hint>Seleccione el sector al que pertenece el establecimiento.</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Nivel</mat-label>
          <mat-select formControlName="nivelID">
            <mat-option *ngFor="let nivel of niveles" [value]="nivel.nivelID">{{nivel.nivel}}</mat-option>
          </mat-select>
          <mat-hint>Seleccione el nivel del establecimiento.</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Modalidad</mat-label>
          <mat-select formControlName="modalidadID">
            <mat-option *ngFor="let modalidad of modalidades" [value]="modalidad.modalidadID">{{modalidad.modalidad}}
            </mat-option>

          </mat-select>
          <mat-hint>Seleccione el sector al que pertenece el establecimiento.</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Ambito</mat-label>
          <mat-select formControlName="ambitoID">
            <mat-option *ngFor="let ambito of ambitos" [value]="ambito.ambitoID">{{ambito.ambito}}</mat-option>
          </mat-select>
          <mat-hint>Seleccione el ambito del establecimiento.</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Zona</mat-label>
          <mat-select formControlName="zonaID">
            <mat-option *ngFor="let zona of zonas" [value]="zona.zonaID">
              {{ zona.nombre_zona }}
            </mat-option>
          </mat-select>
          <mat-hint>Seleccione la zona a la que pertenece establecimiento.</mat-hint>
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="agregarZona()" style="margin-bottom: 1.7em"
          [class.card-100]="isHandset$ | async">
          <mat-icon style="font-size: large; color: white">add</mat-icon>
        </button>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Ofertas</mat-label>
          <mat-select multiple formControlName="ofertas">
            <mat-option *ngFor="let oferta of ofertas" [value]="oferta.ofertaID">{{ oferta.oferta }}</mat-option>
          </mat-select>
          <mat-hint>Seleccione las ofertas que el establecimiento posee.</mat-hint>
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="agregarOferta()" style="margin-bottom: 1.7em"
          [class.card-100]="isHandset$ | async">
          <mat-icon style="font-size: large; color: white">add</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card [class.card-80]="!(isHandset$ | async)" [class.card-100]="isHandset$ | async" *ngIf="!loading()">
    <mat-card-subtitle>Carga de teléfonos para el establecimiento.</mat-card-subtitle>
    <mat-card-title>Teléfonos.</mat-card-title>
    <mat-card-content>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Teléfono</mat-label>
          <input autocomplete="off" matInput type="phone" placeholder="+5492645..." [formControl]="telefonoInput" />
          <mat-icon matSuffix>phone</mat-icon>
          <mat-hint>Ingresa un telefono, luego presione +</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Tipo</mat-label>
          <mat-select [(ngModel)]="tipoTelefonoSelect" [ngModelOptions]="{standalone: true}">
            <mat-option value="fijo">Fijo</mat-option>
            <mat-option value="movil">Movil</mat-option>
          </mat-select>
          <mat-hint>Seleccione el tipo de teléfono.</mat-hint>
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="agregarTelefono()" style="margin-bottom: 1.7em"
          [class.card-100]="isHandset$ | async" [disabled]="!telefonoInput.touched || !telefonoInput.value">
          <mat-icon style="font-size: large; color: white">add</mat-icon>
        </button>
      </div>
      <p *ngIf="telefonos.length == 0" style="margin-top: 20px; margin-bottom: 20px">
        No hay telefonos agregados.
      </p>
      <table mat-table [dataSource]="dataSourceTelefonos" class="mat-elevation-z8"
        style="margin-top: 20px; margin-bottom: 20px; width: 100%" *ngIf="telefonos.length > 0">

        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef>Teléfono</th>
          <td mat-cell *matCellDef="let element">{{ element.telefono }}</td>
        </ng-container>

        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef>Tipo</th>
          <td mat-cell *matCellDef="let element">
            {{ element.tipo === "fijo" ? "Fijo" : "Móvil" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element; let i = index" style="text-align: right">
            <button mat-icon-button color="warn" (click)="eliminarTelefono(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsTelefonos"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsTelefonos"></tr>
      </table>
    </mat-card-content>
  </mat-card>
  <mat-card [class.card-80]="!(isHandset$ | async)" [class.card-100]="isHandset$ | async" *ngIf="!loading()">
    <mat-card-subtitle>Dirección del nuevo establecimiento.</mat-card-subtitle>
    <mat-card-title>Dirección.</mat-card-title>
    <mat-card-content>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Provincias</mat-label>
          <mat-select formControlName="provincia" (selectionChange)="setearDepartamentos()">
            <mat-option *ngFor="let provincia of provincias" [value]="provincia">{{ provincia.nombre }}</mat-option>
          </mat-select>
          <mat-hint>Seleccione la provincia.</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Departamentos</mat-label>
          <mat-select formControlName="departamento" (selectionChange)="setearLocalidades()">
            <mat-option *ngFor="let departamento of departamentos" [value]="departamento">{{ departamento.nombre }}
            </mat-option>
          </mat-select>
          <mat-hint>Seleccione el departamento.</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Localidad</mat-label>
          <mat-select formControlName="localidad" (selectionChange)="setearCentroide()">
            <mat-option *ngFor="let localidad of localidades" [value]="localidad">{{ localidad.nombre }}</mat-option>
          </mat-select>
          <mat-hint>Seleccione la localidad.</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Código Postal</mat-label>
          <input autocomplete="off" matInput placeholder="xxxxxxxxxxx" formControlName="cod_postal" />
          <mat-hint>Ingrese el código postal.</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Calle</mat-label>
          <input autocomplete="off" matInput placeholder="Calle..." formControlName="calle" />
          <mat-hint>Ingrese el nombre de la calle.</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Numeracion</mat-label>
          <input autocomplete="off" matInput placeholder="1234.." type="text" formControlName="numero" />
          <mat-hint>Ingrese la altura del establecimiento.</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Cardinalidad</mat-label>
          <mat-select formControlName="cardinalidad">
            <mat-option value="Norte">Norte</mat-option>
            <mat-option value="Sur">Sur</mat-option>
            <mat-option value="Este">Este</mat-option>
            <mat-option value="Oeste">Oeste</mat-option>
          </mat-select>
          <mat-hint>Seleccione el ambito del establecimiento.</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Barrio</mat-label>
          <input autocomplete="off" matInput placeholder="Barrio..." type="text" formControlName="barrio" />
          <mat-hint>Ingrese el barrio.</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Observaciones</mat-label>
          <textarea matInput formControlName="observacion"></textarea>
        </mat-form-field>
      </div>
      <div class="static-container">
        <google-map width="100%" height="100%" [options]="mapOptions" [center]="mapCenter" [zoom]="mapZoom"
          (mapClick)="moveMap($event)">
          <map-marker [position]="center"></map-marker>
        </google-map>
      </div>
      <div class="form-row" style="margin-top: 15px;">
        <button mat-raised-button color="warn" (click)="cancelarEdicion()">Cancelar</button>
        <button mat-raised-button color="accent" style="margin-left: auto;" (click)="editarEstablecimiento()"
          [disabled]="!editarEstablecimientoForm.touched || editarEstablecimientoForm.invalid">Guardar</button>
      </div>
      <mat-progress-bar mode="indeterminate" style="margin-top: 15px;" *ngIf="uploading"></mat-progress-bar>
    </mat-card-content>
  </mat-card>
</form>