<form novalidate [formGroup]="nuevaZonaForm">
  <h1 mat-dialog-title>Nueva Zona</h1>
  <div class="form-row">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre de zona..." type="text" formControlName="nombre"/>
      <mat-hint>Ingrese el nombre de la nueva zona.</mat-hint>
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field appearance="outline">
      <mat-label>Nombre supervisor.</mat-label>
      <input matInput placeholder="Nombre..." type="text" formControlName="nombre_supervisor"/>
      <mat-hint>Ingrese el nombre del supervisor de la nueva zona.</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Apellido del supervisor.</mat-label>
      <input matInput placeholder="Apellido..." type="text" formControlName="apellido_supervisor"/>
      <mat-hint>Ingrese el apellido del supervisor de la nueva zona.</mat-hint>
    </mat-form-field>
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Teléfono de supervisor.</mat-label>
        <input matInput placeholder="+549264..." type="tel" formControlName="telefono_supervisor"/>
        <mat-icon matSuffix>phone</mat-icon>
        <mat-hint
          >Ingrese el teléfono del supervisor de la nueva zona.</mat-hint
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>E-mail de supervisor.</mat-label>
        <input matInput placeholder="supervisor@..." type="email" formControlName="email_supervisor"/>
        <mat-hint>Ingrese el email del supervisor de la nueva zona.</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="form-row" style="margin-top: 15px;">
    <button mat-raised-button mat-dialog-close color="warn">Cancelar</button>
    <button mat-raised-button color="primary" style="margin-left: auto;" [disabled]="nuevaZonaForm.invalid" (click)="agregarZona()">Agregar</button>
  </div>
</form>
<mat-progress-bar mode="indeterminate" style="margin-top: 15px;" *ngIf="loading"></mat-progress-bar>

