// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@import '@sweetalert2/theme-material-ui/material-ui.scss';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$conectarpalette: (
  50 : #e6f6fc,
  100 : #c0e9f8,
  200 : #97daf3,
  300 : #6dcbee,
  400 : #4dc0ea,
  500 : #2eb5e6,
  600 : #29aee3,
  700 : #23a5df,
  800 : #1d9ddb,
  900 : #128dd5,
  A100 : #ffffff,
  A200 : #d0ecff,
  A400 : #9dd8ff,
  A700 : #84ceff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
$conectarsecondarypalette: (
  50 : #fdefe1,
  100 : #fad8b4,
  200 : #f7be82,
  300 : #f4a34f,
  400 : #f1902a,
  500 : #ef7c04,
  600 : #ed7403,
  700 : #eb6903,
  800 : #e85f02,
  900 : #e44c01,
  A100 : #ffffff,
  A200 : #ffe2d8,
  A400 : #ffbda5,
  A700 : #ffaa8b,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
$conectarwarnpalette: (
    50 : #fbe7e9,
    100 : #f5c2c7,
    200 : #ee9aa2,
    300 : #e7727d,
    400 : #e15361,
    500 : #dc3545,
    600 : #d8303e,
    700 : #d32836,
    800 : #ce222e,
    900 : #c5161f,
    A100 : #fff6f7,
    A200 : #ffc3c6,
    A400 : #ff9095,
    A700 : #ff777c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$conectar-front-primary: mat.define-palette($conectarpalette);
$conectar-front-accent: mat.define-palette($conectarsecondarypalette);

// The warn palette is optional (defaults to red).
$conectar-front-warn: mat.define-palette($conectarwarnpalette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$conectar-front-theme: mat.define-light-theme(
  (
    color: (
      primary: $conectar-front-primary,
      accent: $conectar-front-accent,
      warn: $conectar-front-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($conectar-front-theme);

/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
mat-table {
  max-width: 100%;
  overflow-x: auto;
}

mat-card.hoverable:hover{
  transform: scale(1.04);
}
